doctype html
html(lang='en')
  head
    title Release Notes
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    meta(http-equiv="Refresh" content="5")
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
  main#main
    h1.ui.center.aligned.header Release Notes
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th Issue #
            th State
            th Component
            th Type
            th Title
            th Process
        tbody
          each item in list
            tr
              td 
                a(href=item.githubIssueUrl, target='_blank') #{item.issueNo}
              td #{item.state}
              td #{item.component}
              td #{item.releaseNoteType}
              td #{item.title}
              td 
                a(href=item.tasklistUrl, target='_blank') Tasklist⬀
        tfoot
          tr
            th(colspan='6')